{% assign career-profile = site.data.data.career-profile %} {% if career-profile
%}
<a
  href="/assets/cv.pdf"
  target="_blank"
  style="
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 2rem;
  "
  >Εξαγωγή CV (PDF)</a
>
<section class="section summary-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">{{ career-profile.summary | markdownify }}</div>
  <!--//summary-->
</section>
<!--//section-->
{% endif %}
